/* PROVA CONNESSIONE LINK */
/* body {
    background-color: black;
} */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

img {
    max-width: 100%;
    position: relative;
}

/* MAIN */
.container {
    /* DEBUG */
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product {
    position: relative; /* Aggiunto */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% / 3 - 20px);
    height: 600px;
    border: 1px solid black;
    margin: 10px;
}

.favourites {
    position: absolute;
    background-color: white;
    height: 40px;
    width: 40px;
    top: 10px; /* Modificato */
    right: 0px; /* Modificato */
    text-align: center;
    align-items: center;
    z-index: 1;
}


/* .fa-solid .fa-heart {
    color: black;
} */