/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: 550px;
    position: relative;
}

h5 {
    font: initial;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

/* MAIN */
.container {
    /* DEBUG */
    background-color: aqua;
    /* /DEBUG */
    display: flex;
    flex-wrap: wrap;
    height: 90rem;
    width: 70%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% / 3 - 50px);
    height: 40rem;
    border: 1px solid black;
    margin: 10px;
    padding-bottom: 40px;
}

.favourites {
    position: absolute;
    display: flex;
    background-color: white;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.favourites:hover .fa-heart {
    color: red;
}

.fa-heart {
    color: black;
}

.sales {
    position: absolute;
    display: flex;
    background-color: red;
    height: 30px;
    width: 60px;
    bottom: 20%;
    left: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.sustainable, .sustainable-first {
    position: absolute;
    display: flex;
    background-color: green;
    height: 30px;
    width: 100px;
    bottom: 20%;
    left: 65px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.sustainable-first {
    left: 0px;
}

/* Inizialmente nascondi l'immagine nascosta */
.img-container .img-hidden {
    display: none;
}

.img-container:hover .img-visible {
    display: none;
}

.img-container:hover .img-hidden {
    display: block;
}

.price, .through-price {
    display: inline-block;
    font-size: 0.95rem;
}

.price {
    color: red;
    font-weight: bold;
}

.through-price {
    text-decoration: line-through;
}