/* PROVA CONNESSIONE LINK */
/* body {
    background-color: black;
} */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}